{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Галерея</title>

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'gallery/thumbnail-gallery.css' %}">
</head>
<body>

        <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
                
            <a class="navbar-brand"  href="#">testproject</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarsExample02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                      <a class="nav-link" href="{% url 'gallery-home'%}">Галерея </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery-upload'%}">Добавить</a>
                    </li>
                    
                  </ul>
                </div>
               
        </nav>
        <h2 class="row justify-content-center align-self-center">Галерея</h2>      
<div class="container gallery-container">

  
    <div class="tz-gallery">
       
            
        
        <div class="row photos">
            {% for post in galleryC %}
                
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3 item"><a href="{{ post.picture.url }}" data-lightbox="photos" ><img class="img-fluid" src="{{ post.picture.url }}" alt="Park" class="zoom img-fluid "></a><div class="caption">{{ post.comment }}</div></div>
            
            {% endfor %}
           
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

</body>
</html>









